body {
    margin: 0;
}

.controls {
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    gap: 4px;
}

.board-wrapper {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.board {
    display: inline-grid;
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.cell {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}